@page "/cortedecaja"
@using Api.Comercio.Informal.Components.Layout
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BusinessGremio _gremioService
@inject BusinessLider _liderService
@inject BusinessFolio _folioService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<link href="css/general.css" rel="stylesheet" />

<h3 class="mb-4 text-uppercase" style="color: #333; letter-spacing: 1px;">Cortes de Caja</h3>
<hr />

@code {

}
