@page "/"
@inject NavigationManager NavManager

<PageTitle>Inicio</PageTitle>

<div class="home-layout-standard">


</div>

@code {
    private void IrAPadron()
    {
        NavManager.NavigateTo("padron");
    }

    private void IrACobradores()
    {
        NavManager.NavigateTo("cobradores"); // Ajusta la ruta si es necesario
    }
}