@page "/"
@inject NavigationManager NavManager

<PageTitle>Inicio</PageTitle>

<div class="home-layout-standard">

    @* <h2 class="mb-4 text-uppercase" style="color: #333; letter-spacing: 1px;">
        Sistema de Control de Comercio Informal
    </h2>

    <hr class="home-divider" /> *@


    @* <div class="d-flex gap-4 flex-wrap">
        <button class="btn official-btn-primary btn-lg px-5 py-3" @onclick="IrAPadron">
            <i class="bi bi-people-fill me-2 fs-5"></i> IR AL PADRÓN
        </button>

        <button class="btn official-btn-outline-secondary btn-lg px-5 py-3" @onclick="IrACobradores">
            <i class="bi bi-person-badge me-2 fs-5"></i> VER COBRADORES
        </button>
    </div> *@
</div>

@code {
    private void IrAPadron()
    {
        NavManager.NavigateTo("padron");
    }

    private void IrACobradores()
    {
        NavManager.NavigateTo("cobradores"); // Ajusta la ruta si es necesario
    }
}