@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-start align-items-center">

            <span class="text-uppercase fw-bold"
                  style="color: #9D2449; font-size: 1.8rem; letter-spacing: 0.5px;">
                Sistema de Control de Comercio Informal
            </span>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>