<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Admin Comercio</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3"><NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span class="bi bi-house-door-fill"></span> Inicio</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="padron"><span class="bi bi-people-fill"></span> Padrón</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="cobradores"><span class="bi bi-person-badge-fill"></span> Cobradores</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="lideres"><span class="bi bi-person-lines-fill"></span> Líderes</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="gremios"><span class="bi bi-building"></span> Gremios</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="conceptos"><span class="bi bi-receipt"></span> Conceptos</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="tarifas"><span class="bi bi-currency-dollar"></span> Tarifas</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="folios"><span class="bi bi-123"></span> Folios</NavLink></div>
    </nav>
</div>