<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Recaudación</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css?v=1.1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="Api.Comercio.Informal.styles.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    @* --- INICIO DEL CAMBIO --- *@
    @* Este componente es OBLIGATORIO para usar [Authorize] en páginas interactivas *@
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>
    @* --- FIN DEL CAMBIO --- *@

    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
    </script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script>
        window.renderizarMapa = (contenedorId, lat, lng) => {
            // Verificar si el contenedor existe
            var container = L.DomUtil.get(contenedorId);
            if(container != null){
                // Si ya tiene un mapa instanciado, lo limpiamos para evitar errores de "Map already initialized"
                container._leaflet_id = null;
            }

            // Crear el mapa
            var map = L.map(contenedorId).setView([lat, lng], 16);

            // Cargar las losetas (tiles) de OpenStreetMap
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            // Agregar el marcador (Pin)
            L.marker([lat, lng]).addTo(map)
                .bindPopup('<b>Ubicación del Cobro</b><br>Registrada por el dispositivo.')
                .openPopup();
        }
    </script>
</body>

</html>